@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display {
  font-family: 'Geologica', sans-serif;
}

.input {
  @apply border-gray-300 text-gray-900 rounded-md focus:ring-blue-500 focus:border-blue-500 block  w-96  p-2.5 bg-zinc-400	dark:placeholder-gray-200 dark:text-white  dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.inputTall {
  @apply border-gray-300 text-gray-900 rounded-md focus:ring-blue-500 focus:border-blue-500 block h-36 w-96  p-2.5 bg-zinc-400	dark:placeholder-gray-200 dark:text-white  dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.inputContainer {
  @apply flex justify-between w-96;
}

.signButton {
  @apply font-display tracking-widest  font-[600] text-cyan-700 hover:text-white border-4 hover:bg-[#0000EE] focus:ring-4 focus:outline-none focus:ring-blue-300  rounded-lg text-2xl w-52 h-14 px-5 py-2.5 text-center mr-2 mb-2 dark:border-cyan-700 dark:text-cyan-700 dark:hover:text-white dark:hover:border-[#0000EE] dark:hover:bg-[#0000EE] dark:focus:ring-[#0000EE];
}

.subHeaderForm {
  @apply font-display font-[500] text-lg text-gray-200 tracking-wider rounded-md bg-zinc-700 pl-3 pt-2 pb-1 w-[50vw];
}
.subHeaderPublic {
  @apply font-display font-[900] text-xl text-gray-800 tracking-wider rounded-md  pl-3 pt-2 pb-1 w-[50vw];
}
/* body {
  background-image: url(' ../../../util/images/Hana.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */
